body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #d0d1d3;
    background: url(../images/1502011131119481309.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(255, 254, 197);
    text-shadow: 0 0 3px rgb(254, 254, 193);    
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    bottom: 18rem;   
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 80%;
    margin: 0 auto 32px;
    padding: 6px 0;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.news article:nth-child(even) {
    background-color: #FFC0CB;
}


article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.New::before {
    content: 'New';
    color: red;
    font-style: italic;
    vertical-align: middle;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #000000;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}

.secondary {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.article {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    text-align:left;
    padding-left: 10rem;
}

.tlgbot {
    text-decoration: none;
    color:darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.tlg_link {
    background: #fff;
    padding: 0;
    position: fixed;
    bottom: 3rem;
    width: 0%;
    left: 76rem;
    margin: 0;
}